<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./components/head') %>
</head>

<body>

    <%- include('./components/nav') %>

    <% if (pokemonSearch.length == 0) {%>
        <header>
           <% if(message !="" ) { %>
                <%- include('./components/alerts') %>
                    <% } %>
        </header>
    <% } %>

        <main>
            <% if (pokemonSearch.length == 0) {%>
            <section id='cards'>
                <% pokedex.forEach((pokemon)=> { %>
                    <%- include('./components/cards', {poke: pokemon})%>
                <% }) %>
            </section>
        <% } else { %>
            <div id="result-search-space">
                <h2>Resultados da Pesquisa</h2>
                <a href="/">Todos os Pokémons</a>
            </div>
            <section id='cards'>
                <% pokemonSearch.forEach((pokemon)=> { %>
                    <%- include('./components/cards' , {poke: pokemon})%>
                <% }) %>
            </section>
        <% } %>

        </main>

        <% if (pokemonPut !=null) {%>
            <%- include('./components/modalPut') %>
                <% } %>

                    <% if (pokemonDel !=null) {%>
                        <%- include('./components/modalDel') %>
                            <% } %>

                                <%- include('./components/footer') %>

                                    <script src="/script.js"></script>

</body>

</html>